@import "./vars";

body {
  background-color: $main-background;

  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &, a {
    color: $common;
  }
}

.section-padding {
  padding: 0 24px;
}

img {
  max-width: 100%;
}

.button {
  border-radius: 12px;
  padding: 16px 20px;
  display: inline-flex;
  font-weight: bold;
  min-width: 148px;
  justify-content: center;

  &--main {
    background-color: $main-color;
  }
}
